[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

sphinx = "*"
ipython = "*"
docutils = "*"
sphinx-autobuild = "*"
restructuredtext-lint = "*"
tox = "*"
coverage = "*"
twine = "*"
bumpversion = "*"
"flake8" = "*"


[packages]

zeep = "*"
python-coveralls = "*"
ipython = "*"
bumpversion = "*"


[requires]

python_version = "3.6"
