[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

sphinx = "*"
ipython = "*"
docutils = "*"
sphinx-autobuild = "*"
restructuredtext-lint = "*"


[packages]

zeep = "*"


[requires]

python_version = "3.6"
