[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"
docutils = "*"
sphinx-autobuild = "*"
restructuredtext-lint = "*"
tox = "*"
coverage = "*"
twine = "*"
bumpversion = "*"
flake8 = "*"
Sphinx = "*"
python-coveralls = "*"

[packages]
zeep = "==4.2.1"

[requires]
python_version = "3.8"
